@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 26% 14%;
    --foreground: 0 0% 100%;
    --card: 220 26% 14%;
    --card-foreground: 0 0% 100%;
    --popover: 220 26% 14%;
    --popover-foreground: 0 0% 100%;
    --primary: 142 70% 58%;
    --primary-foreground: 222 47% 11%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 14% 24%;
    --muted-foreground: 220 8% 76%;
    --accent: 199 94% 60%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 14% 24%;
    --input: 220 14% 24%;
    --ring: 142 70% 58%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 100%;
    --card: 222 47% 11%;
    --card-foreground: 0 0% 100%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 100%;
    --primary: 142 70% 58%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 32% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217 32% 18%;
    --muted-foreground: 215 20% 65%;
    --accent: 199 94% 60%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 32% 18%;
    --input: 217 32% 18%;
    --ring: 142 70% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
